{% extends "main.html" %}
{% block content %}

    <div class="content-section">
            <h2>THE CREATORS</h2>
            <p class="text-muted">
              This website was programmed by:
            </p>
            <div align="middle" class="content-section">
            	<img class="rounded-circle" src="static/pictures/man.jpg" height="15%" width="15%">
            	<h4>Anthony Cortez Buentipo</h4>
            </div>
            <div class="content-section" align="middle">
            	<img class="rounded-circle" src="static/pictures/woman.jpg" height="15%" width="15%">
            	<h4 class="text-muted">Charlene Simbre Gatmin</h4>
            </div>
    </div>
{% endblock content %}
